.empty {
  padding: 20px;
  text-align: center;
  font-size: 16px;
  color: var(--tt-text-secondary);
}

.row {
  display: grid;
  grid-template-columns: 50px 2fr 1.2fr 0.8fr;
  font-size: 14px;
  align-items: center;
  padding: 12px 20px;
  border-bottom: 1px solid rgba(59, 58, 58, 0.1);
  transition:
    background 0.2s,
    color 0.2s;
  cursor: pointer;
}

.row:hover {
  background: rgba(255, 255, 255, 0.1);
  color: var(--button);
  border-radius: 6px;
}

.row.active {
  background: rgba(88, 196, 220, 0.2);
  color: var(--button);
  border-radius: 6px;
  font-weight: 600;
}

.col_index {
  text-align: center;
}

.col_title {
  display: flex;
  align-items: center;
  gap: 12px;
  /* font-size: 14px; */
  overflow: hidden;
}

.col_artist,
.col_duration {
  /* font-size: 13px; */
}

.col_title img {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  object-fit: cover;
}
